%p#notice= notice

%p
  %b Name:
  = @player.name
%p
  %b Picture:
  = image_tag @player.player_image.url

-#= link_to 'Edit', edit_player_path(@player)

-#= link_to 'Back', players_path
= link_to 'continue', player_scorecard_path(1)